.footer{
    background-color: rgba(33, 39, 49, 1);
    height:448px;
   
}
.conte{
   
    height: 30vh;
    width: 70%;
    margin-left: 20%;
   
   
}
.cate{
    padding-top: 4rem;
    text-decoration: rgba(255, 255, 255, 1);

    
}
.catec{
    font-size: 18px;
    color: #fff;
    margin-right: 2rem;
    margin-Top: 3rem;
}